<% content_for :title, "New edition" %>

<div class="max-w-7xl mx-auto container w-full">
  <h1 class="font-bold text-4xl">New edition</h1>

  <div class="mb-4 text-sm breadcrumbs w-full">
    <ul class="flex space-x-2">
      <li class="text-gray-500"><%= link_to "Revistas", scientific_journals_path %></li>
      <li>/</li>
      <li class="text-gray-500"><%= link_to @edition&.scientific_journal&.name || 'Revista', scientific_journal_path(params[:scientific_journal_id]) if params[:scientific_journal_id] %></li>
      <li>/</li>
      <li class="font-semibold">Nova edição</li>
    </ul>
  </div>

  <%= render "form", edition: @edition, scientific_journal_id: params[:scientific_journal_id] %>

  <%= link_to "Back to editions", editions_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>