<% content_for :title, "New article" %>

<div class="flex flex-col gap-8 items-center w-full max-w-7xl mx-auto container">
  <div class="mb-4 text-sm breadcrumbs w-full">
    <ul class="flex space-x-2">
      <li class="text-gray-500"><%= link_to "Revistas", scientific_journals_path %></li>
      <li>/</li>
      <li class="text-gray-500"><%= link_to "Volume #{params.dig(:article, :edition_id)}", edition_path(params.dig(:article, :edition_id)) %></li>
      <li>/</li>
      <li class="font-semibold">Novo artigo</li>
    </ul>
  </div>

  <div class="md:w-2/3 w-full">
    <div class="flex items-center gap-2 mb-5">
      <h1 class="font-bold text-4xl">Criar artigo</h1>
    </div>
    <%= render "form", article: @article, edition_id: params.dig(:article, :edition_id) %>
  </div>
</div>