<% content_for :title, "New scientific journal" %>

<div class="container max-w-7xl mx-auto">
  <div class="mx-auto p-6 bg-gray-200 shadow-md rounded-lg">
    <h1 class="text-2xl font-bold mb-6">New scientific journal</h1>

    <div class="mb-6">
      <%= render "form", scientific_journal: @scientific_journal %>
    </div>

    <div class="flex flex-col sm:flex-row gap-2">
      <%= link_to "Voltar", scientific_journals_path, class: "w-full sm:w-auto rounded-md py-2 font-medium" %>
    </div>
  </div>
</div>