<% content_for :title, "Editing keyword" %>

<div class="min-h-[30vh] w-full max-w-3xl mx-auto px-4 py-8 flex flex-col gap-8 bg-white rounded-lg shadow-sm">
  <h1 class="font-bold text-4xl">Editing keyword</h1>

  <%= render "form", keyword: @keyword %>

  <%= link_to "Show this keyword", @keyword, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to keywords", keywords_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>

<div class="mb-4 text-sm breadcrumbs w-full">
  <ul class="flex space-x-2">
    <li class="text-gray-500"><%= link_to "Palavras-chave", keywords_path %></li>
    <li>/</li>
    <li class="font-semibold">Editar palavra-chave</li>
  </ul>
</div>
