<div class="min-h-[60vh] w-full container mx-auto px-4 bg-white rounded-lg shadow-sm">
  <h1 class="text-3xl font-bold mt-2 mb-4">Blog</h1>
  <p>
    Usarei este espaço para registrar as etapas do processo de pesquisa e as decisões que tomarei no caminho.
    Será dada maior enfase às questões relacionadas a desenvolvimento de software e analise de dados.
  </p>
  <div class="grid grid-cols-1 gap-6 mt-6">
    <a href="<%= blog_post_path(1) %>" class="p-6 bg-stone-100 rounded-lg shadow hover:shadow-md transition">
      <p class="text-xl font-semibold text-blue-700 hover:underline block mb-2">Abertura dos trabalhos</p>
      <small class="text-stone-500">Publicado em 07/07/2025</small>
      <p class="mt-2 text-stone-700">
        Motivação, estrutura, conteúdo e objetivos.
      </p>
    </a>
  </div>
</div>
