<div class="min-h-[60vh] w-full container mx-auto px-4 bg-white rounded-lg shadow-sm">
  <h1 class="text-3xl font-bold mt-2 mb-4">Blog - Bibliometria Arqueológica</h1>
  <p>
    Este blog tem como objetivo principal apresentar e discutir aspectos técnicos da construção de sistemas digitais voltados à pesquisa acadêmica,
    com foco especial em estudantes e pesquisadores de Arqueologia que não possuem experiencia em desenvolvimento de software.
  </p>

  <p>
    A proposta é abordar conceitos e práticas da engenharia de software, oferecendo explicações acessíveis e contextualizadas. Para isso,
    será utilizado como estudo de caso o projeto Bibliometria Arqueológica, um sistema ainda estágio de desenvolvimento, voltado à organização e análise de dados
    bibliográficos da produção arqueológica no Brasil.
  </p>

  <p>
    Ao longo das publicações, serão abordados desafios reais enfrentados durante o desenvolvimento do sistema, tais como decisões de arquitetura, escolhas de ferramentas,
    modelos de dados. Espera-se, como isso, tornar mais tangíveis conceitos como estrutura de dados, controle de versões, testes automatizados, entre outros.
  </p>
  <div class="grid grid-cols-1 gap-6 mt-6">
    <a href="<%= blog_post_path(1) %>" class="p-6 bg-stone-100 rounded-lg shadow hover:shadow-md transition">
      <p class="text-xl font-semibold text-blue-700 hover:underline block mb-2">Abertura dos trabalhos</p>
      <small class="text-stone-500">Publicado em 08/07/2025</small>
      <p class="mt-2 text-stone-700">
        Motivação, estrutura, conteúdo e objetivos.
      </p>
    </a>
  </div>
</div>
